<div class="col-lg-2 border">
  <!-- Comparing Original phrases-->
  {{productParsing.baseResult.originalPhrase}}

  <div class="row">
    <div class="col-sm-1 border">
      <span style="font-size: xx-small">details phrase:</span>
    </div>
    <div *ngFor="let  word of productParsing.baseResult.initialNames.detailsNameResults" class="col-sm-1 border"
         [ngClass]="{'green':word.match, 'red':!word.match}">
      <span style="font-size: x-small">{{word.word}}</span>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-1 border">
      <span style="font-size: xx-small">search phrase:</span>
    </div>
    <div *ngFor="let  word of productParsing.baseResult.initialNames.searchNameResults" class="col-sm-1 border"
         [ngClass]="{'green':word.match, 'red':!word.match}">
      <span style="font-size: x-small">{{word.word}}</span>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-1 border">
      <span style="font-size: xx-small">ingredients phrase:</span>
    </div>
    <div *ngFor="let  word of productParsing.baseResult.initialNames.ingredientsNameResults" class="col-sm-1 border">
      <span style="font-size: x-small">{{word.word}}</span>
    </div>

  </div>

</div>

<div class="col-lg-1 border">
  <!--      Original tokens-->
  <div *ngFor="let token of productParsing.baseResult.tokens">

        <span>
          {{token.text}}
        </span>
    <span>
          <span class="{{token.tag}}"> {{token.tag}}</span> : <span class="{{token.pos}}">{{token.pos}} </span> :  <span
      class="{{token.relationToParentType}}">{{token.relationToParentType}} </span> : {{token.head}}
        </span>
  </div>
</div>
<div class="col-lg-1 border">
  <!-- quantityless tokens with reasoning behind them-->


  <div *ngFor="let token of productParsing.baseResult.tokens">
    <!--        <div *ngIf="token.wordType!='QuantityElement'">-->
    <span class="{{token.wordType}}">
            {{token.text}}:
          </span>
    <span>
            <span *ngIf="!token.reasoning">-</span>{{token.reasoning}}

          </span>
    <!--        </div>-->
  </div>
</div>

<div class="col-lg-1 border">
  <!--      Minimal phrase calculation Results-->
  <div>Restrictive:
    <span *ngFor="let token of productParsing.baseResult.restrictivelyCalculatedResult.markedWords">
          [<span class="gray">{{token}}</span>]&nbsp;
        </span>
  </div>

  <div *ngIf="productParsing.baseResult.expectedResult">
          <span *ngFor="let token of productParsing.baseResult.restrictivelyCalculatedResult.notFound" class="pink">
          {{token}}
        </span>
    <span *ngFor="let token of productParsing.baseResult.restrictivelyCalculatedResult.found" class="green">
          {{token}}
        </span>
    <span *ngFor="let token of productParsing.baseResult.restrictivelyCalculatedResult.improperlyFound" class="red">
          {{token}}
        </span>
  </div>

  <div>Permissive:
    <span *ngFor="let token of productParsing.baseResult.permisivelyCalculatedResult.markedWords">
          [<span class="gray">{{token}}</span>]&nbsp;
        </span>
  </div>
  <div *ngIf="productParsing.baseResult.expectedResult">
          <span *ngFor="let token of productParsing.baseResult.permisivelyCalculatedResult.notFound" class="pink">
          {{token}}
        </span>
    <span *ngFor="let token of productParsing.baseResult.permisivelyCalculatedResult.found" class="green">
          {{token}}
        </span>
    <span *ngFor="let token of productParsing.baseResult.permisivelyCalculatedResult.improperlyFound" class="red">
          {{token}}
        </span>
  </div>
  <div>Food Type:
    <b *ngIf="productParsing.baseResult.expectedResult"
       [className]="productParsing.baseResult.productTypeFound==productParsing.baseResult.expectedResult.foodTypeCategory ? 'green' : 'red'">
      {{productParsing.baseResult.productTypeFound}}({{productParsing.baseResult.expectedResult.foodTypeCategory}})
    </b>

    <b *ngIf="!productParsing.baseResult.expectedResult" class="gray">
      {{productParsing.baseResult.productTypeFound}}
    </b>


  </div>
</div>
<div class="col-lg-1 border">
  <!--      Extended phrase calculation Results-->
  <div>Restrictive:
    <span *ngFor="let token of productParsing.baseResult.restrictivelyCalculatedResultForPhrase.markedWords">
          [<span class="gray">{{token}}</span>]&nbsp;
        </span>
  </div>

  <div *ngIf="productParsing.baseResult.expectedResult">
          <span *ngFor="let token of productParsing.baseResult.restrictivelyCalculatedResultForPhrase.notFound"
                class="pink">
          {{token}}
        </span>
    <span *ngFor="let token of productParsing.baseResult.restrictivelyCalculatedResultForPhrase.found" class="green">
          {{token}}
        </span>
    <span *ngFor="let token of productParsing.baseResult.restrictivelyCalculatedResultForPhrase.improperlyFound"
          class="red">
          {{token}}
        </span>
  </div>

  <div>Permissive:
    <span *ngFor="let token of productParsing.baseResult.permisivelyCalculatedResultForPhrase.markedWords">
          [<span class="gray">{{token}}</span>]&nbsp;
        </span>
  </div>
  <div *ngIf="productParsing.baseResult.expectedResult">
          <span *ngFor="let token of productParsing.baseResult.permisivelyCalculatedResultForPhrase.notFound"
                class="pink">
          {{token}}
        </span>
    <span *ngFor="let token of productParsing.baseResult.permisivelyCalculatedResultForPhrase.found" class="green">
          {{token}}
        </span>
    <span *ngFor="let token of productParsing.baseResult.permisivelyCalculatedResultForPhrase.improperlyFound"
          class="red">
          {{token}}
        </span>
  </div>
  <div>Food Type:
    <b *ngIf="productParsing.baseResult.expectedResult"
       [className]="productParsing.baseResult.productTypeFound==productParsing.baseResult.expectedResult.foodTypeCategory ? 'green' : 'red'">
      {{productParsing.baseResult.productTypeFound}}({{productParsing.baseResult.expectedResult.foodTypeCategory}})
    </b>

    <b *ngIf="!productParsing.baseResult.expectedResult" class="gray">
      {{productParsing.baseResult.productTypeFound}}
    </b>


  </div>


</div>
<div class="col-lg-1 border">
  <div class="match-results">
  <div>Matching result:
    <span *ngFor="let token of productParsing.wordsMatching.markedWords">
          [<span class="gray">{{token}}</span>]&nbsp;
        </span>
  </div>
  <div>
    <span *ngFor="let token of productParsing.wordsMatching.notFound" class="pink">
          {{token}}
        </span>
    <span *ngFor="let token of productParsing.wordsMatching.found" class="green">
          {{token}}
        </span>
    <span *ngFor="let token of productParsing.wordsMatching.improperlyFound" class="red">
          {{token}}
    </span>

  </div>
  </div>

  <div
    [ngClass]="{'verdict-true':productParsing.verdict, 'verdict-false':!productParsing.verdict}">Verdict:{{productParsing.verdict}}</div>
</div>
