<div class="col-lg-1 border">
  <!--expected nlp results-->
  <!--      Original phrase-->
  {{result.originalPhrase}}
  <!--      Edaman results-->
  <div *ngIf="result.expectedResult" class="expected">
    {{result.expectedResult.amount}}
    <br>
    {{result.expectedResult.amountType}}
    <br>
    {{result.expectedResult.foodMatch}}
    <br>
    {{result.expectedResult.foodTypeCategory}}
  </div>
</div>

<div class="col-lg-2 border">
  <!-- Comparing Original phrases-->
  {{result.originalPhrase}}

  <div class="row">
    <div class="col-sm-1 border">
      <span style="font-size: xx-small">details phrase:</span>
    </div>
    <div *ngFor="let  word of result.initialNames.detailsNameResults"  class="col-sm-1 border" [ngClass]="{'green':word.match, 'red':!word.match}">
      <span style="font-size: x-small">{{word.word}}</span>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-1 border">
      <span style="font-size: xx-small">search phrase:</span>
    </div>
    <div *ngFor="let  word of result.initialNames.searchNameResults"  class="col-sm-1 border" [ngClass]="{'green':word.match, 'red':!word.match}">
      <span style="font-size: x-small">{{word.word}}</span>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-1 border">
      <span style="font-size: xx-small">ingredients phrase:</span>
    </div>
    <div *ngFor="let  word of result.initialNames.ingredientsNameResults"  class="col-sm-1 border">
      <span style="font-size: x-small">{{word.word}}</span>
    </div>

  </div>

</div>


<div class="col-lg-1 border">
  <!--     brands and entities-->
  <div *ngIf="result.entities">
    <div *ngFor="let x of result.entities.split('<br>')">
      Entity:{{x}}
    </div>

  </div>
  <div>Entityless: {{result.entityLess}}</div>

  <div>Brand: {{result.brand}}</div>

  <div>Brandless: {{result.brandless}}</div>
</div>
<div class="col-lg-1 border">
  <!--      final tokens-->
  <span *ngFor="let token of result.tokens" class="{{token.wordType}}">
        {{token.text}}: {{token.relationToParentType}}<br>
      </span>


</div>

<div class="col-lg-1 border">
  <!--      quantityless tokens-->

  <span *ngFor="let token of result.tokens">
        <div *ngIf="token.wordType!='QuantityElement'">
          <span class="{{token.wordType}}">
            {{token.text}}
          </span>
          <span>
            : {{token.lemma}}
          </span>
        </div>
      </span>
</div>
<div class="col-lg-1 border">
  <!--       tag : pos : relationToParentType : head -->
  <span *ngFor="let token of result.tokens">
        <div *ngIf="token.wordType!='QuantityElement'">
           {{token.tag}} : {{token.pos}} : {{token.relationToParentType}} : {{token.head}}

        </div>
      </span>

</div>
<div class="col-lg-1 border">
  <!--      corrected phrase and tokens-->

  {{result.correctedPhrase}}

  <span *ngFor="let token of result.correctedTokens">
        <div *ngIf="token.wordType!='QuantityElement'">
          {{token.text}}:<span class="{{token.tag}}"> {{token.tag}}</span> : <span
          class="{{token.pos}}">{{token.pos}} </span>: <span
          class="{{token.relationToParentType}}">{{token.relationToParentType}} </span>: {{token.head}}

        </div>
      </span>
</div>




<div class="col-lg-1 border">
  <!--      Original tokens-->
  <div *ngFor="let token of result.tokens">

        <span>
          {{token.text}}
        </span>
    <span>
          <span class="{{token.tag}}"> {{token.tag}}</span> : <span class="{{token.pos}}">{{token.pos}} </span> :  <span
      class="{{token.relationToParentType}}">{{token.relationToParentType}} </span> : {{token.head}}
        </span>
  </div>
</div>

<div class="col-lg-1 border">
  <!--      Minimal phrase calculation Results-->
  <div>Restrictive:
    <span *ngFor="let token of result.restrictivelyCalculatedResult.markedWords" >
          [<span class="gray">{{token}}</span>]&nbsp;
        </span>
  </div>

  <div *ngIf="result.expectedResult" >
          <span *ngFor="let token of result.restrictivelyCalculatedResult.notFound" class="pink">
          {{token}}
        </span>
    <span *ngFor="let token of result.restrictivelyCalculatedResult.found" class="green">
          {{token}}
        </span>
    <span *ngFor="let token of result.restrictivelyCalculatedResult.improperlyFound" class="red">
          {{token}}
        </span>
  </div>

  <div>Permissive:
    <span *ngFor="let token of result.permisivelyCalculatedResult.markedWords">
          [<span class="gray">{{token}}</span>]&nbsp;
        </span>
  </div>
  <div *ngIf="result.expectedResult" >
          <span *ngFor="let token of result.permisivelyCalculatedResult.notFound" class="pink">
          {{token}}
        </span>
    <span *ngFor="let token of result.permisivelyCalculatedResult.found" class="green">
          {{token}}
        </span>
    <span *ngFor="let token of result.permisivelyCalculatedResult.improperlyFound" class="red">
          {{token}}
        </span>
  </div>
  <div>Food Type:
    <b *ngIf="result.expectedResult" [className]="result.productTypeFound==result.expectedResult.foodTypeCategory ? 'green' : 'red'">
      {{result.productTypeFound}}({{result.expectedResult.foodTypeCategory}})
    </b>

    <b *ngIf="!result.expectedResult" class="gray">
      {{result.productTypeFound}}
    </b>


  </div>
</div>
<div class="col-lg-1 border">
  <!--      Extended phrase calculation Results-->
  <div>Restrictive:
    <span *ngFor="let token of result.restrictivelyCalculatedResultForPhrase.markedWords">
          [<span class="gray">{{token}}</span>]&nbsp;
        </span>
  </div>

  <div  *ngIf="result.expectedResult">
          <span *ngFor="let token of result.restrictivelyCalculatedResultForPhrase.notFound" class="pink">
          {{token}}
        </span>
    <span *ngFor="let token of result.restrictivelyCalculatedResultForPhrase.found" class="green">
          {{token}}
        </span>
    <span *ngFor="let token of result.restrictivelyCalculatedResultForPhrase.improperlyFound" class="red">
          {{token}}
        </span>
  </div>

  <div>Permissive:
    <span *ngFor="let token of result.permisivelyCalculatedResultForPhrase.markedWords">
          [<span class="gray">{{token}}</span>]&nbsp;
        </span>
  </div>
  <div  *ngIf="result.expectedResult">
          <span *ngFor="let token of result.permisivelyCalculatedResultForPhrase.notFound" class="pink">
          {{token}}
        </span>
    <span *ngFor="let token of result.permisivelyCalculatedResultForPhrase.found" class="green">
          {{token}}
        </span>
    <span *ngFor="let token of result.permisivelyCalculatedResultForPhrase.improperlyFound" class="red">
          {{token}}
        </span>
  </div>
  <div>Food Type:
    <b *ngIf="result.expectedResult" [className]="result.productTypeFound==result.expectedResult.foodTypeCategory ? 'green' : 'red'">
      {{result.productTypeFound}}({{result.expectedResult.foodTypeCategory}})
    </b>

    <b *ngIf="!result.expectedResult" class="gray">
      {{result.productTypeFound}}
    </b>


  </div>
</div>
