<h1>Ingredients correctly predicted:({{ingredientsCovered}}+{{ingredientsCorrectlyGuessedAsEmpty}})/{{ingredientsTotal}}</h1>
<h1>Products recommendation:{{productsFound}}/{{productsTotal}}</h1>
<h1>Wrong Products recommendations:
  <span class="verdict-false-positive"> {{improperProductsFound}}</span>
  +
  <span class="verdict-false-negative"> {{productsMissing}}</span>

</h1>




<div class="container extended-container">

  <div class="row">
    <div class="col-lg-1 border">
      Original phrase + Edaman results
    </div>

<!--    <div class="col-lg-1 border">-->
<!--      entities-->
<!--    </div>-->
    <div class="col-lg-1 border">
      tokens
    </div>

<!--    <div class="col-lg-1 border">-->
<!--      tag : pos : relationToParentType : head-->
<!--    </div>-->
<!--    <div class="col-lg-1 border">-->
<!--      corrected phrase-->
<!--    </div>-->

<!--    <div class="col-lg-1 border">-->
<!--      corrected tokens-->
<!--    </div>-->
    <div class="col-lg-1 border">
       type reasonings

    </div>
    <div class="col-lg-1 border">
      original dependencies
    </div>
<!--    <div class="col-lg-1 border">-->
<!--      dependencies from corrected-->
<!--    </div>-->
    <div class="col-lg-1 border">
      Found dependencies
    </div>
    <div class="col-lg-1 border">
      quantityless tokens
    </div>
    <div class="col-lg-1 border">
      Calculation Results <span class="pink">NOT FOUND</span> <span class="green">FOUND</span><span class="red">IMPROPERLY FOUND</span>
    </div>

  </div>

  <div app-match-calculation *ngFor="let result of results" [result]="result"></div>
</div>
