


<div class="col-lg-2 border">
  <ul>

    <span *ngFor="let ing of phrase.ingredientPhraseMatched">
      <div *ngIf="ing.phrase!=undefined">{{ing.phrase}}</div>
      <div *ngIf="ing.head!=undefined ||ing.child!=undefined">[{{ing.head.text}}]({{ing.child.text}})</div>

    </span>
  </ul>
</div>


<div *ngIf="phrase.match.head!=undefined || phrase.match.child!=undefined" class="col-lg-1" style="border: 5px solid #03390a;"><h5>{{phrase.match.head.text}}</h5></div>
<div *ngIf="phrase.match.head!=undefined || phrase.match.child!=undefined" class="col-lg-1" style="border: 2px solid #03390a;"><h5>{{phrase.match.child.text}}</h5></div>

<div *ngIf="phrase.match.phrase!=undefined" class="col-lg-2" style="border: 3px solid #03390a;"><h5>{{phrase.match.phrase}}</h5></div>

<div class="col-lg-2 border">
  <ul>

    <span *ngFor="let prod of phrase.productPhraseMatched">
      <div *ngIf="prod.phrase!=undefined">{{prod.phrase}}</div>
      <div *ngIf="prod.head!=undefined || prod.child!=undefined">[{{prod.head.text}}]({{prod.child.text}})</div>

    </span>
  </ul>
</div>

<div *ngIf="phrase.relatedUsdaPhrases!=undefined" class="col-lg-2" style="border: 5px solid #427300;">
  <ul>
    <li *ngFor="let usdaPhrase of phrase.relatedUsdaPhrases">{{usdaPhrase}}</li>
  </ul>
</div>
<div *ngIf="phrase.relatedUsdaPhrases==undefined" class="col-lg-2" style="border: 5px solid #7c2c00;">
  <span>{{phrase.relatedUsdaPhrases}}</span>
</div>

