<div app-ingredient-parsed [result]="result.ingredientParsingDetails" class="row">

</div>
<div class="row">
  <div class="col-lg-7 border">
    <div class="container inner-container matched-products extended-container">

      <div app-match-calculation-product *ngFor="let product of result.productsConsideredParsingResults"  [productParsing]="product" class="row">

      </div>
      <div class="verdict-true-negative">
        <div app-match-calculation-product *ngFor="let product of result.incorrectProductsConsideredParsingResults"  [productParsing]="product" class="row">

        </div>
      </div>
    </div>

  </div>
</div>
