<table >

  <tr *ngFor="let w of result.productWords" >
    <td class="table-left-header"><b>{{w.text}}</b></td>


    <td *ngFor="let typeOf of w.typeOfList">{{typeOf}}</td>


  </tr>

</table>

<table >
<!--  <tr>-->
<!--    <td class="table-top-header" *ngFor="let w of result.typesFoundFinal">{{w.text}}</td>-->

<!--  </tr>-->
<!--  <tr>-->
<!--    <td *ngFor="let w of result.typesFoundFinal">{{w.count}}</td>-->

<!--  </tr>-->
  <tr *ngFor="let w of result.typesFoundFinal" >
    <td class="table-top-header"><i>{{w.text}}</i></td>


    <td>{{w.count}}</td>


  </tr>

</table>




<!--<div class="container">-->
<!--  <div  class="row">-->

<!--    <div  *ngFor="let word of result.productWords" class="col-sm FOOD">-->
<!--      {{word.text}}-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<BR>-->
<!--<div class="container">-->
<!--  <div  class="row">-->

<!--    <div  *ngFor="let word of result.propertyWords" class="col-sm NONE">-->
<!--      {{word.text}}-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<BR>-->


<!--<table *ngFor="let line of result.lines">-->

<!--    <tr *ngFor="let result of line.results" >-->
<!--      <td class="table-vert-header"><b>{{result.text}}</b></td>-->


<!--        <td *ngFor="let typeOf of result.typeOfList">{{typeOf}}</td>-->


<!--    </tr>-->

<!--  </table>-->


