/* You can add global styles to this file, and also import other style files */
.QuantityElement{
  background-color:cornflowerblue;
}

.ProductElement{
  background-color:green;
}

.PunctuationElement{
  background-color:blueviolet;
}

.white{
  background-color:white;
}



  .container{
    max-width: 3000px;
    min-width: 3000px
  }

