<div class="container">

  <div class="row">
    <div class="col-lg-1 border">
      Edaman results
    </div>
    <div class="col-lg-1 border">
      Original phrase
    </div>
    <div class="col-lg-1 border">
      entities
    </div>
    <div class="col-lg-1 border">
      entitiless
    </div>
    <div class="col-lg-1 border">
      tokens
    </div>
    <div class="col-lg-1 border">
      quantityless tokens
    </div>
    <div class="col-lg-1 border">
      tag : pos : relationToParentType : head
    </div>
    <div class="col-lg-1 border">
      corrected phrase
    </div>

    <div class="col-lg-1 border">
      corrected tokens
    </div>
    <div class="col-lg-1 border">
      Original tokens
    </div>
    <div class="col-lg-1 border">
      original dependencies
    </div>
    <div class="col-lg-1 border">
      dependencies from corrected
    </div>
    <div class="col-lg-1 border">
      Calculation Results
    </div>
  </div>
  <div *ngFor="let result of results" class="row">
    <div class="col-lg-1 border">
<!--      Edaman results-->
      <div class="expected">
        {{result.expectedResult.amount}}
        <br>
        {{result.expectedResult.amountType}}
        <br>
        {{result.expectedResult.foodMatch}}

      </div>
    </div>

    <div class="col-lg-1 border">
<!--      Original phrase-->
      {{result.originalPhrase}}
    </div>

    <div class="col-lg-1 border">
<!--      entities-->
      {{result.entities}}
    </div>
    <div class="col-lg-1 border">
<!--      entityless-->
      {{result.entityLess}}
    </div>
    <div class="col-lg-1 border">
<!--        tokens-->
      <span *ngFor="let token of result.tokens" class="{{token.wordType}}">
        {{token.text}}: {{token.relationToParentType}}<br>
      </span>


    </div>
    <div class="col-lg-1 border">
<!--      quantityless tokens-->
      <span *ngFor="let token of result.tokens">
        <div *ngIf="token.wordType!='QuantityElement'">
          <span class="{{token.wordType}}">
            {{token.text}}
          </span>
          <span>
            : {{token.lemma}}
          </span>
        </div>
      </span>


    </div>
    <div class="col-lg-1 border">
<!--      tag : pos : relationToParentType : head-->
      <span *ngFor="let token of result.tokens">
        <div *ngIf="token.wordType!='QuantityElement'">
           {{token.tag}} : {{token.pos}} : {{token.relationToParentType}} : {{token.head}}

        </div>
      </span>


    </div>

    <div class="col-lg-1 border">
<!--      corrected phrase-->
     {{result.correctedPhrase}}


    </div>



    <div class="col-lg-1 border">
<!--      corrected tokens-->
      <span *ngFor="let token of result.correctedTokens">
        <div *ngIf="token.wordType!='QuantityElement'">
          {{token.text}}:<span class="{{token.tag}}"> {{token.tag}}</span> : <span class="{{token.pos}}">{{token.pos}} </span>: <span class="{{token.relationToParentType}}">{{token.relationToParentType}} </span>: {{token.head}}

        </div>
      </span>


    </div>

    <div class="col-lg-1 border">
<!--      Original tokens-->
      <div *ngFor="let token of result.tokens">
        <span>
          {{token.text}}
        </span>
        <span>
          <span class="{{token.tag}}"> {{token.tag}}</span> : <span class="{{token.pos}}">{{token.pos}} </span> :  <span class="{{token.relationToParentType}}">{{token.relationToParentType}} </span> : {{token.head}}
        </span>
      </div>

    </div>
    <div class="col-lg-1 border">
      <!-- original dependencies-->
      <div *ngFor="let connotation of result.originalConnotations">
        <span *ngFor="let token of connotation">
          {{token.text}}
        </span>
      </div>

    </div>
    <div class="col-lg-1 border">
      <!-- dependencies from corrected -->
      <div *ngFor="let connotation of result.correctedTokens">
        <span *ngFor="let token of connotation">
          {{token.text}}
        </span>
      </div>

    </div>
    <div class="col-lg-1 border">
      <!-- Calculation Results -->
      <span *ngFor="let token of result.calculatedResult.notFound" class="pink">
        {{token}}
      </span>
      <span *ngFor="let token of result.calculatedResult.found" class="green">
        {{token}}
      </span>
      <span *ngFor="let token of result.calculatedResult.improperlyFound" class="red">
        {{token}}
      </span>
    </div>
  </div>


  <!--  csv results:-->


  <!--  <div *ngFor="let result of results">-->
  <!--      {{result.originalPhrase}};;-->

  <!--      {{result.entities}};;-->
  <!--      {{result.entityLess}};;-->
  <!--      <span *ngFor="let token of result.tokens" class="{{token.wordType}}">-->
  <!--        {{token.text}}<span class="white  ">|</span>-->
  <!--      </span>;;-->


  <!--      <span *ngFor="let token of result.tokens">-->
  <!--        <span *ngIf="token.wordType!='QuantityElement'">-->
  <!--          <span class="{{token.wordType}}">-->
  <!--            {{token.text}}-->
  <!--          </span>-->
  <!--        </span>-->
  <!--      </span>;;-->


  <!--  </div>-->


</div>
