<div class="container">

  <div class="row">
    <div class="col-lg-1 border">
      Original phrase + Edaman results
    </div>

    <div class="col-lg-1 border">
      entities
    </div>
    <div class="col-lg-1 border">
      tokens
    </div>
    <div class="col-lg-1 border">
      quantityless tokens
    </div>
    <div class="col-lg-1 border">
      tag : pos : relationToParentType : head
    </div>
    <div class="col-lg-1 border">
      corrected phrase
    </div>

    <div class="col-lg-1 border">
      corrected tokens
    </div>
    <div class="col-lg-1 border">
      Original tokens
    </div>
    <div class="col-lg-1 border">
      original dependencies
    </div>
    <div class="col-lg-1 border">
      dependencies from corrected
    </div>
    <div class="col-lg-1 border">
      Found dependencies
    </div>
    <div class="col-lg-1 border">
      Calculation Results <span class="pink">NOT FOUND</span> <span class="green">FOUND</span><span class="red">IMPROPERLY FOUND</span>
    </div>

  </div>
  <div *ngFor="let result of results" class="row">
    <div class="col-lg-1 border">
      <!--      Original phrase-->
      {{result.originalPhrase}}
      <!--      Edaman results-->
      <div class="expected">
        {{result.expectedResult.amount}}
        <br>
        {{result.expectedResult.amountType}}
        <br>
        {{result.expectedResult.foodMatch}}

      </div>
    </div>


    <div class="col-lg-1 border">
      <!--      entities-->
      {{result.entities}}
      <br>entityless:
      {{result.entityLess}}
    </div>
    <div class="col-lg-1 border">
      <!--        tokens-->
      <span *ngFor="let token of result.tokens" class="{{token.wordType}}">
        {{token.text}}: {{token.relationToParentType}}<br>
      </span>


    </div>
    <div class="col-lg-1 border">
      <!--      quantityless tokens-->
      <span *ngFor="let token of result.tokens">
        <div *ngIf="token.wordType!='QuantityElement'">
          <span class="{{token.wordType}}">
            {{token.text}}
          </span>
          <span>
            : {{token.lemma}}
          </span>
        </div>
      </span>


    </div>
    <div class="col-lg-1 border">
      <!--      tag : pos : relationToParentType : head-->
      <span *ngFor="let token of result.tokens">
        <div *ngIf="token.wordType!='QuantityElement'">
           {{token.tag}} : {{token.pos}} : {{token.relationToParentType}} : {{token.head}}

        </div>
      </span>


    </div>

    <div class="col-lg-1 border">
      <!--      corrected phrase-->
      {{result.correctedPhrase}}


    </div>

T
    <div class="col-lg-1 border">
      <!--      corrected tokens-->
      <span *ngFor="let token of result.correctedTokens">
        <div *ngIf="token.wordType!='QuantityElement'">
          {{token.text}}:<span class="{{token.tag}}"> {{token.tag}}</span> : <span
          class="{{token.pos}}">{{token.pos}} </span>: <span
          class="{{token.relationToParentType}}">{{token.relationToParentType}} </span>: {{token.head}}

        </div>
      </span>


    </div>

    <div class="col-lg-1 border">
      <!--      Original tokens-->
      <div *ngFor="let token of result.tokens">
        <span>
          {{token.text}}
        </span>
        <span>
          <span class="{{token.tag}}"> {{token.tag}}</span> : <span class="{{token.pos}}">{{token.pos}} </span> :  <span
          class="{{token.relationToParentType}}">{{token.relationToParentType}} </span> : {{token.head}}
        </span>
      </div>

    </div>
    <div class="col-lg-1 border">
      <!-- original dependencies-->
      <div *ngFor="let connotation of result.originalConnotations">
        {{connotation.child.text}} ({{connotation.head.text}})
      </div>

    </div>
    <div class="col-lg-1 border">
      <!-- dependencies from corrected -->
      <div *ngFor="let connotation of result.correctedConnotations">
        {{connotation.child.text}} ({{connotation.head.text}})
      </div>

    </div>

    <div class="col-lg-1 border">
      <b>From adjacency:</b>
      <div *ngFor="let adjacencyConnotation of result.adjacentyConotationsFound">
        <span *ngFor="let connotationElement of adjacencyConnotation">
          {{connotationElement}}
        </span>&nbsp;
      </div>
      <br>
      <b>From dependency tree:</b>
      <div *ngFor="let connotation of result.dependencyConotationsFound">
        {{connotation.child.text}} ({{connotation.head.text}})
      </div>
    </div>
    <div class="col-lg-1 border">
      <!-- Calculation Results -->


      <div>Restrictive:
        <span *ngFor="let token of result.restrictivelyCalculatedResult.markedWords">
          [{{token}}]&nbsp;
        </span>
      </div>

      <div>
          <span *ngFor="let token of result.restrictivelyCalculatedResult.notFound" class="pink">
          {{token}}
        </span>
        <span *ngFor="let token of result.restrictivelyCalculatedResult.found" class="green">
          {{token}}
        </span>
        <span *ngFor="let token of result.restrictivelyCalculatedResult.improperlyFound" class="red">
          {{token}}
        </span>
      </div>

      <div>Permissive:
        <span *ngFor="let token of result.permisivelyCalculatedResult.markedWords">
          [{{token}}]&nbsp;
        </span>
      </div>
      <div>
          <span *ngFor="let token of result.permisivelyCalculatedResult.notFound" class="pink">
          {{token}}
        </span>
        <span *ngFor="let token of result.permisivelyCalculatedResult.found" class="green">
          {{token}}
        </span>
        <span *ngFor="let token of result.permisivelyCalculatedResult.improperlyFound" class="red">
          {{token}}
        </span>
      </div>
      <div>Food Type: <b>{{result.productTypeFound}}</b></div>

    </div>
  </div>


  <!--  csv results:-->


  <!--  <div *ngFor="let result of results">-->
  <!--      {{result.originalPhrase}};;-->

  <!--      {{result.entities}};;-->
  <!--      {{result.entityLess}};;-->
  <!--      <span *ngFor="let token of result.tokens" class="{{token.wordType}}">-->
  <!--        {{token.text}}<span class="white  ">|</span>-->
  <!--      </span>;;-->


  <!--      <span *ngFor="let token of result.tokens">-->
  <!--        <span *ngIf="token.wordType!='QuantityElement'">-->
  <!--          <span class="{{token.wordType}}">-->
  <!--            {{token.text}}-->
  <!--          </span>-->
  <!--        </span>-->
  <!--      </span>;;-->


  <!--  </div>-->


</div>
